[com_0]
type=model
x=248
y=354
width=32
height=32
model=model_4962
anim=seq_1490
zoom=200

[com_1]
type=model
x=248
y=354
width=32
height=32
model=model_4961
anim=seq_1489
zoom=200
